<?xml version="1.0.1" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.sundeepk.offline.ether">
    <uses-feature android:name="android.hardware.camera2" android:required="false" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name="com.github.sundeepk.offline.ether.App"
        android:theme="@style/AppTheme">
        <service android:name="com.github.sundeepk.offline.ether.service.TransactionPollerService" android:exported="false"/>
        <activity android:label="New Address" android:name="com.github.sundeepk.offline.ether.activities.AddressScannerActivity"/>
        <activity android:label="New Address" android:name="com.github.sundeepk.offline.ether.activities.AddressAdderActivity"/>
        <activity android:label="Account" android:name="com.github.sundeepk.offline.ether.activities.AccountActivity"/>
        <activity android:label="Offline" android:name="com.github.sundeepk.offline.ether.activities.OfflineTransactionActivity"/>
        <activity android:label="Send transaction" android:name="com.github.sundeepk.offline.ether.activities.SendTransactionActivity"/>
        <activity android:label="Scan transaction" android:name="com.github.sundeepk.offline.ether.activities.TransactionScannerActivity"/>
        <activity
            android:name="com.github.sundeepk.offline.ether.activities.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>